**1: Unique Words in a Sentence**

Given a sentence, identify all unique words and display:

The count of unique words

The unique words themselves

**Hint**:

Split the sentence into individual words.
Convert the list of words into a set to remove duplicates.
Print both the set and its length.

**Input**:
Enter sentence:
python is easy and python is powerful

**Expected Output**:

Unique words count: 5  
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [1]:
# Taking input from user
sentence = "python is easy and python is powerful"

# Step 1: Split sentence into a list of words
words = sentence.split()

# Step 2: Convert list to a set to remove duplicates
unique_words = set(words)

# Step 3: Output results
print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Unique words count: 5
Unique words: {'powerful', 'and', 'is', 'easy', 'python'}

**2: Highest Salary from Employee Data**

Store employee names and their salaries, and determine which employee has the highest salary.

**Hint**

Use a dictionary where the key is the employee name and the value is the salary.
Compare salary values to find the highest.
**Input Format**:

A dictionary where:

Keys represent employee names

Values represent employee salaries

**Example Input**

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

**Expected Output**

Highest Salary: Ravi - 75000

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find the name (key) with the maximum salary (value)
highest_paid_employee = max(employees, key=employees.get)
highest_salary = employees[highest_paid_employee]

print(f"Highest Salary: {highest_paid_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

**3: Find Maximum and Minimum Values**

Find the maximum and minimum values from a list of numbers.

**Hint**

Initialize both maximum and minimum with the first element of the list.
Use a loop to compare each element.

Input Format:

A list of integers where each element represents a numeric value.
Example Input

numbers = [45, 22, 89, 10, 66]

**Expected Output**

List: [45, 22, 89, 10, 66]

Max: 89  

Min: 10

In [4]:
numbers = [45, 22, 89, 10, 66]

# Initialize both with the first element
max_val = numbers[0]
min_val = numbers[0]

# Loop to compare each element
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print(f"List: {numbers}")
print(f"Max: {max_val}")
print(f"Min: {min_val}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**4: Count Products Above a Price Threshold**

Problem Statement
Count how many products have a price greater than 1000.

**Hint**

Use a loop to compare each price with 1000.

Input Format:

A list of integers where each element represents the price of a product.

**Example Input:**

prices = [450, 1200, 899, 1500, 300]

**Expected Output**:

Products above 1000: 2

In [5]:
prices = [450, 1200, 899, 1500, 300]
threshold = 1000

# Initialize counter
count = 0

# Loop to check each price
for p in prices:
    if p > threshold:
        count += 1

print(f"Products above {threshold}: {count}")

Products above 1000: 2

**5: Calculate Attendance Percentage**

Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

**Hint**:

Count the number of "P" values.

Divide by the total number of days.

**Example Input:**

attendance = ["P", "P", "A", "P", "P"]

**Expected Output**:

Attendance Percentage: 80.0

In [6]:
attendance = ["P", "P", "A", "P", "P"]

# Count occurrences of 'P'
presents = attendance.count("P")
total_days = len(attendance)

# Calculation
percentage = (presents / total_days) * 100

print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

**6: Remove Duplicate Phone Numbers**:

You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

**Hint**:

Convert the list into a set.

Sets automatically remove duplicate values.

**Input Format**:

A list of integers where each integer represents a phone number.

**Example Input**:

phone_numbers = [9876543210, 9123456789, 9876543210]

**Expected Output**:

Unique phone numbers: {9876543210, 9123456789}

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert to set to remove duplicates
unique_numbers = set(phone_numbers)

print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

**7: Count Character Frequency**

Count how many times each character appears in a given string.

**Hint**:

Use a dictionary.

Increment the count for each character occurrence.

**Expected Output**:

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
text = "pythonp"
frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**8: Convert List to Tuple**

Convert a list into a tuple and display it.

**Hint**

Use the tuple() function.

**Expected Output**

Tuple: (10, 20, 30)

> In Data Science, we use tuples when we want to ensure data is read-only (immutable). This prevents accidental changes to important configurations or constants.

In [9]:
# Initial list
data_list = [10, 20, 30]

# Converting to tuple
data_tuple = tuple(data_list)

print(f"Tuple: {data_tuple}")

Tuple: (10, 20, 30)

**9: Check if a Key Exists in a Dictionary**

Check whether a specific key exists in a dictionary.

**Hint**:

Use the in keyword.

**Expected Output**:

Employee exists

> Dictionaries are highly efficient for searching. Using them in keyword allows you to verify data presence without looping through every single entry, which is critical for large datasets.

In [10]:
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}
search_key = "Ravi"

# Checking existence
if search_key in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

**10: Calculate Average Marks**

Calculate the average marks of a student from a list of marks.

**Hint**:

Calculate the sum of all values.

Divide by the total number of marks.

**Expected Output:**

Average Marks: 72.5

>Averages are the most common way to summarize data. This calculation provides the Mean, a central metric in statistics.

In [11]:
marks = [85, 90, 78, 92, 45] # Example marks

# Calculate average
# Formula: Sum of marks / Total number of marks
average_marks = sum(marks) / len(marks)

print(f"Average Marks: {average_marks}")

Average Marks: 78.0